*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: arial; 
	color: 	#F8F8FF;	
}
/*背景图*/
body{
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	background-image: url(imgs/034.jpg);
	background-size: 100%;
}
.center{
	background: rgba(15,34,51,2.5);
	width: 110px;
	height: 300px;
	position: fixed;
	left: 5%;
	top: 10%;
}
.center:hover{
	background: rgba(17,34,51,0.5);
}
.center ul a li{
	color: 	#F8F8FF;
	width: 110px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.center ul a li:hover{
	background: rgba(17,34,51,1);
}
/*大盒子外表
扩展改高*/
#deepin{
	background: rgba(17,34,51,0.5);
	width: 75%;
	margin: auto;
	/*height: 1200px;*/
	text-indent: 2em;
}

#deepin	#her,
#xy,
#bl {
	margin-bottom: 40px;
}
#deepin	 h2{
	text-indent: 4em;
}
#deepin	 h3{
	text-indent: 6em;
}
#deepin	 .wen1{
	text-indent: 8em;
}
#deepin	 .wen1 .nei1{
	text-indent: 10em;
}

